* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* navbar ==================>*/

nav ul {
    list-style-type: none;
    border-top: 6px solid yellow;
    background-color: black;
}

nav ul a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: yellow;
}

nav ul a:hover {
    color: white;
}

.logo {
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    background-color: yellow;
    color: black;
}

@media screen and (min-width:500px) {
    nav ul {
        display: flex;
        flex: 1 0 auto;
    }

    nav ul li {
        margin: auto;
    }

    nav ul li:first-child {
        margin: 0px;
    }
}

/* End of navbar=====================> */

/* header=====================> */
#banner::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/bg4.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.85;
}

#banner {
    position: relative;
    height: 353px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    font-size: 60px;
    text-transform: uppercase;
    font-style: italic;
}

.banner-underline {
    width: 60%;
    border: 3px solid rgb(40, 22, 22);
    border-radius: 33px;
    margin: 3px auto 10px;
}

.banner-button {
    display: flex;
    justify-content: space-between;
}

.banner-button .btn {
    font-size: 30px;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 10px;
    border: 2px solid orange;
    background: transparent;
    color: orange;
    border-radius: 9px;
    cursor: pointer;
}

.banner-button .btn:hover {
    background-color: orange;
    color: white;
}

/* End of header==========> */


/* skills================================> */
#skill {
    position: relative;
}

#skill::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/bg2.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: .8;
}

.skill-item img {
    width: 60px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    justify-content: center;
    align-items: center;
    padding: 10px 0 30px 0
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(143, 49, 49);
    border-radius: 9px;
    padding: 10px;
    margin: 10px;
    transition: transform 0.8s;
}

.skill-item .item {
    text-align: center;
    margin-bottom: 7px;
}

.skill-item h1 {
    letter-spacing: 2px;
    font-size: 30px;
}

.skill-item:hover {
    box-shadow: 1px 1px 15px 7px grey;
    transform: scale(1.01);
}

/* End of skills=========> */


/* title */

.title {
    margin: 30px 0px;
}

.title-text {
    text-align: center;
    font-size: 45px;
    color: #e0e2db;
    font-style: italic;
    text-transform: uppercase;
}

.title-underline {
    width: 200px;
    border: 2px solid #e6af2e;
    margin: 0 auto;
}

/* services =======================================*/

#service {
    min-width: 100vw;
    background: url("../img/bg6.jpg") no-repeat center center/cover;
    padding: 20px 0px 80px 0;
}

.service-container {
    max-width: 90vw;
    margin: 0 auto;
    color: white;
}

.service-item img {
    display: block;
    width: 60px;
    margin: 0 auto 30px auto;
}

.service-item {
    position: relative;
    overflow: hidden;
    padding: 60px;
}

.service-item-black {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.service-item-white {
    background: linear-gradient(rgba(206, 208, 206, 0.7), rgba(206, 208, 206, 0.7));
    color: black;
}

.front-text {
    text-align: center;
    transition: transform 2s;
    font-size: 20px;
}

.back-text {
    position: absolute;
    bottom: -15em;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    transition: bottom 2s;
}

.back-text h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

.back-text button {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color: #e6af2e;
    border-radius: 9px;
}

.back-text button:hover {
    background-color: #e6af2e;
    color: #191716;
}

.service-item-white button {
    background-color: #e6af2e;
    color: #191716;
}

.service-item-white button:hover {
    background-color: #191716;
    border-color: #191716;
    color: #e6af2e;
}

.service-item:hover .front-text {
    transform: translateY(-200px);
}

.service-item:hover .back-text {
    bottom: 0;
}

@media screen and (min-width:750px) {
    .service-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .service-container .service-item:nth-of-type(1) {
        order: 1;
    }

    .service-container .service-item:nth-of-type(2) {
        order: 2;
    }

    .service-container .service-item:nth-of-type(3) {
        order: 4;
    }

    .service-container .service-item:nth-of-type(4) {
        order: 3;
    }
}

/* End of sevices=================================== */

/* project section=============================== */

#project .title-text {
    color: #191716;
}

#project {
    padding: 20px 0 80px 0;
    background-color: #e0e2db;
}

.project-container {
    max-width: 90vw;
    margin: 0 auto;
}

.project-item {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: #e0e2db;
    overflow: hidden;
    margin: 20px 0;
}

#project img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 2s;
}

.project-item .img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 3s;
}

.project-item .img-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #e6af2e;
    opacity: 0;
    transition: opacity 3s;
}

.img-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.img-text h6 {
    font-size: 15px;
}

.project-item:hover img {
    opacity: 0.4;
    transform: scale(1.3);
}

.project-item:hover .img-text,
.project-item:hover .img-footer {
    opacity: 1;
}

@media screen and (min-width:556px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
    }
}

@media screen and (min-width:900px) {
    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* End of project section=============================== */

/* filler section====================================== */


.filler {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
    align-items: baseline;
}

.filler h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #e0e2db;
    margin-bottom: 15px;
}

.filler button {
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px;
    color: #e6af2e;
    border: 2px solid #e6af2e;
    background: transparent;
    border-radius: 9px;
}

.filler button:hover {
    background-color: #e6af2e;
    color: #191716;
}


/* End of filler section====================================== */

/* Post section========================================== */


#post {
    padding: 20px 0 80px 0;
    background: #beb7a4;
}

.post-container {
    max-width: 90vw;
    margin: 0 auto;
}

.post-item {
    background-color: #e0e2db;
    margin-bottom: 20px;
    color: #191716;
    position: relative;
}

.post-item img {
    width: 100%;
    display: block;
}

.img-container {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.post-item .post-search {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.img-container:hover img:nth-of-type(1) {
    opacity: 0.4;
}

.img-container:hover img:nth-of-type(2) {
    opacity: 1;
}

.text-container {
    padding: 10px 5px 30px 5px;
}

.text-container p {
    margin: 15px 0 25px 0;
}

.text-container a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #e6af2e;
    color: #e6af2e;
    margin-bottom: 15px;
}

.text-container a:hover {
    background-color: #191716;
    border: 2px solid #191716;
}

@media screen and (min-width:576px) {
    .post-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
    }
}

@media screen and (min-width:992px) {
    .post-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* End of Post section========================================== */

/* footer========================== */
footer {
    background-color: #302f2e;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: #e0e2db;
}

.footer-text {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.footer-icon img {
    width: 33px;
    margin-right: 3px;
    transition: transform 0.8s;
}

.footer-icon img:hover {
    transform: translateY(-5px);
}

/* End of footer========================== */